.account-page {
  padding: 10px 0px;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tab-btn {
  width: 100%;
  color: #fff;
  padding: 10px 0px;
  border-radius: 0px !important;
}

.tab-btn:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .account-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
}

.signup-btn {
  width: 100%;
}

.forgot-password {
  text-align: center;
  margin-bottom: 0px;
}

.forgot-password a {
  color: #000;
}
.forgot-password a:hover {
  color: red;
}

.account-page form {
  width: 100%;
  padding: 40px 15px;
}
@media (min-width: 500px) {
  .account-page form {
    width: 100%;
    padding: 40px 50px;
  }
}

.signup-confirm {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 20px 0px;
  svg {
    width: 120px;
    height: 120px;
    color: #333;
  }
}

@media (min-width: 500px) {
  .signup-confirm {
    font-size: 18px;
    svg {
      width: 150px;
      height: 150px;
    }
  }
}
@media (min-width: 992px) {
  .signup-confirm {
    font-size: 20px;
  }
}
