.reset-password-confirm-page {
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 20px;
}

@media (min-width: 992px) {
    .reset-password-confirm-page {
        width: 60%;
    }
}

.btn {
    border-radius: 0px;
}

.btn-success {
    background-color: #808096;
    border-color: #808096;
}

.btn-success:hover {
    background-color: #5f5f77;
    border-color: #5f5f77;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #7b7b88;
    border-color: #7b7b88;
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #5f5f77;
    border-color: #5f5f77;
    box-shadow: 0 0 0 0.2rem #5f5f7780;
}