.tournament-slot-confirm {
    background-color: #333;
    margin: 100px, 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slot-confirm-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

@media (min-width: "768px") {
    .tournament-slot-confirm {
        margin: 100px;
    }
}