.loading-bar {
  width: 100vw;
  height: 3px;
  background: #aaa;
  .loading-track {
    width: 10px;
    height: 3px;
    background: #fff;
    animation: load 50ms;
  }
}

@keyframes load {
  from {
    width: 0vw;
  }
  to {
    width: 100vw;
  }
}

@media (min-width: 500px) {
  .loading-bar,
  .loading-bar .loading-track {
    height: 6px;
  }
}
