.tourna {
  color: #fff;
  background-color: #333;
  padding: 20px 4vw;
  margin: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tourna-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .tourna-name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .tourna-body {
    font-size: 15px;
  }
  .tourna-left {
  }
}
.grey {
  color: #7c7c7c;
}
.tourna-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .tourna-left,
  .tourna-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    // align-items: ;
    align-items: flex-start;
  }
  .tourna-left {
    // align-items: flex-start;
  }
  .tourna-right {
    // align-items: flex-end;
  }
}
.tourna-time {
  margin-top: auto;
}
.winner {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    height: 80px;
    width: 80px;
    background: #444;
  }
  .winner-body {
    margin: auto 20px 0px 20px;
    text-align: left;
  }
}

.tourna-registerdate {
  margin: auto 0px;
  display: block;
}
@media (min-width: 992px) {
  .tourna {
    padding: 20px 10%;
  }
  .tourna-bottom {
    margin-top: 10px;
    flex-direction: row;
    .tourna-left {
      width: 50%;
    }
    .tourna-right {
      width: 50%;
    }
  }
  .tourna-top {
    .tourna-name {
      font-size: 24px;
    }
  }
}
.register-btn {
  margin-top: auto;
  width: 100%;
  button {
    width: 100%;
  }
}
