@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

body {
  margin: 0px;
  background: linear-gradient(
    112.62deg,
    #2b2b4b 0%,
    rgba(51, 51, 88, 0.56) 99.78%
  );
  background-repeat: none;
}
#root {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  height: auto;
  margin: 0px;
}
footer {
  margin-top: auto;
}
.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  background: linear-gradient(270deg, #333358 69.27%, rgb(109, 51, 67) 89.41%);
  .header-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
    width: 100%;
  }
  .site-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110px;
    letter-spacing: 0.12em;
    color: #f4f4f4;
    margin-left: 18vw;
  }

  .account {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.31);
  }
}

.site-name a {
  text-decoration: none !important;
  color: #fff !important;
  z-index: 100;
}

a {
  text-decoration: none !important;
}

.site-nav {
  height: 100%;
  display: none;
  flex-direction: row;
  margin-left: auto;
  z-index: 4;
}

.black-link {
  display: flex;
  align-items: center;
  background: #000;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.12em;
  height: 100%;
  padding: 0px 30px;
  span,
  a {
    color: #ffffff;
    cursor: pointer;
  }
  &:not(.black-dropdown) {
    a:hover {
      color: #db6983;
    }
  }
  &.black-dropdown {
    padding: 0px 50px 0px 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 28px;
      width: 12px;
      height: 8px;
      background: url('../assets/dropdown-close.png');
    }

    &.open-link::after {
      background: url('../assets/dropdown-open.png');
    }
  }
}

.link-shadow {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  padding: 0px 4vw;
  /* identical to box height */

  letter-spacing: 0.12em;

  color: #ffffff;
}

.link-animated_und {
  position: relative;

  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover {
    color: white;

    &::after {
      width: 40%;
      left: 30%;
    }
  }
}

.header-backdrop {
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 30vw;
}

.header-shadow {
  height: 68px;
  width: 50vw;
}

.open-sidebar {
  padding: 0px 4px;
  margin-left: 1px;
  position: absolute;
  top: 14px;
  left: 20px;
  z-index: 100;
  cursor: pointer;
  svg {
    fill: #212138;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
  width: 100%;
}
.help {
  background-color: #111;
  width: 100%;
  padding: 20px 40px;
  h3 {
    color: #fff;
  }
}
.contact {
  background-color: #222;
  padding: 20px 40px;
  width: 100%;
  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    a {
      margin: 0px 4px;
    }
  }
  h3 {
    color: #fff;
  }
}
.footer-link {
  display: block;
  color: #fff;
  text-decoration: underline;
}

.copyright {
  padding: 2px;
  background: #fff;
  width: 100%;
  text-align: center;
  color: #000;
}

@media (min-width: 992px) {
  .site-nav {
    display: flex;
  }

  .open-sidebar {
    display: none;
  }

  .main-header .site-name {
    margin-left: 10vw;
  }
  .footer {
    flex-direction: row;
  }
  .help {
    width: 20%;
  }
  .contact {
    .links {
      flex-direction: column;
    }
  }
}
